body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", serif;
}

/* ##############################################  NAVBAR  #################################################### */

.navbar {
  background-color: rgba(0,0,0,0.8);
  border-bottom: 5px solid rgba(255,255,255,0.1);
}

.navbar .navbar-brand {
  color: rgba(0,0,0,0.9);
  font-size: 30px;
  border: 2px solid rgba(0,0,0,0.9);
  border-radius: 10px;
  background-color: rgba(255,255,255,0.95);
  padding: 5px 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,0.95);
  font-size: 20px;
  border: 1px solid rgba(255,255,255,0.95);
  border-radius: 10px;
  background-color: rgba(0,0,0,0.7);
  padding: 5px 10px;
  margin-right: 5px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #dc3545;
  border: 1px solid /*rgba(255,255,255,0.7)*/ #dc3545;
}

.navbar-inscriptionButton {
  color: #dc3545;
  font-size: 20px;
  border: 1px solid #dc3545;
}

.navbar-inscriptionButton:hover {
  color: #b32b38;
  font-size: 20px;
  border: 1px solid #b32b38;
  background-color: rgba(0,0,0,0.1);
  
}

.navbar-connectionButton, .navbar-disconnectedButton {
  color: rgba(0,0,0,0.8);
  font-size: 20px;
  border: 1px solid #dc3545;
  background-color: #dc3545;
}

.navbar-connectionButton:hover, .navbar-disconnectedButton:hover{
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  border: 1px solid #b32b38;
  background-color: #b32b38;
  
}


/* ##############################################  JEU  #################################################### */
.game {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.game-app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(243, 239, 243);
  padding:20px;
  flex-grow: 1;
}

.informationPanel {
  width: 500px;
  height: 800px;
  padding : 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border: 2px solid black;
  background-color: #f0d9b5;
}

.playerInformations{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0d9b5;
  padding: 5px;
}

.informationPanel-historic{
  height: 500px;
  border: 2px solid black;
  background-color: #b58863;
}

.informationPanel-optionButtons{
  border: 2px solid black;
  padding: 5px;
  background-color: #b58863;
}

.informationPanel-optionButtons svg{
  transition-duration: 1s;
}

.informationPanel-optionButtons svg:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: rotate(45deg);
}

.endGameButtons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.endButton:hover{
  background-color:rgb(214, 1, 1)3545; 
}

.endGameButtons a{
  background-color:#dc3545; 
  color:white; 
}

/* ###############################################  PARTIES  ##########################################################*/

.gameOption {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: rgb(243, 239, 243);
}

.gameOption-title {
  text-align: center;
  align-self: center;
  font-size: 35px;
  margin-top: 20px;
}

.gameOption-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  flex-grow: 1;
  margin-top: 20px;
}

.gameOption-app-option {
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.app-option-newGame {
  padding: 25px; 
  border: 3px solid rgba(0,0,0,0.8);
  border-radius: 20px;
}

.app-option-newGame button{
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
  color: #dc3545;
  font-size: 20px;
} 

.app-option-newGame svg{ 
  margin: 20px;
} 

.app-option-img {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  padding: 15px;
}

.app-option-img .theme img {
  height:170px
}

.app-option-img .pieces {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-column-gap: 20px;
  margin: 20px;
}

.gameOption-app-listGames {
  margin-bottom: 100px;
  width: 600px; 
}

.gameOption-app-listGames .btn-group select{
  margin-bottom: 10px;
  margin-left: 25px;
  width: 150px;
  height: 50px;
}



.option-img .theme {
  width: auto;
  height: auto;
}

.gameOption-app-listGames {
  max-height: 300px;
}

/* ############################################  CONNEXION / INSCRIPTION  ####################################### */

.connectionInscriptionPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
  padding: 5px;
  background-color: #f5f5f5;
}

.form-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;

  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  
  text-align: center; 
}


.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.connectionInscription-link{
  text-align: center;    
}

.connectionInscription-img{
  display: block;
  padding: 20px;
}

.connectionInscription-title{
  font-size: 36px; 
  text-align: center;
  font-weight: bold;
}

/* ####################################################  REGLES  ################################################# */

.rulesPage{
  
  width: 100%;
  background-color: rgb(243, 239, 243);
} 

.rulesPage nav{
  position: sticky;
  top: 0;
}

.rulesPage-app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.rulesPage-app h2, .rulesPage-app h1{
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}

.rulesPage-title {
  text-align: center;
  margin-top: 30px;
  font-size: 35px;
}

.rulesPage-rulesSelection{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 10px;
  margin-bottom: 150px;
}

.rulesPage-rulesSelection p{
  text-align: center;
  font-size: 25px;
}

.rulesSelection-pieces {
  max-width: 600px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  margin: 50px;
  border: 2px solid black;
  border-radius: 10px;
}

.rulesSelection-pieces img {
  width: 100px;
  margin: 30px;
  transition-duration: 0.5s;
}

.rulesSelection-pieces img:hover{
  transform: translateY(-20px);
  border-bottom: 2px solid #dc3545;
}

.rulesSelection-special{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.rulesSelection-special .btn{
  font-size: 30px;
  width: 300px;

  transition-duration: 0.5s;
}

/* .rulesSelection-special .btn:hover{
  transform: rotate(1deg);
} */

div.anchor{
  position: relative;
  top: -150px;
  visibility: hidden;
}

.rulesPage-app section {
  max-width: 1000px;
  min-height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  margin: 10px;
  margin-bottom: 150px;

  background-color: #B1A9A7;
  color: #302F2F;
  border: 3px solid rgba(0,0,0,0.9);
  border-radius: 10px;
}

.rulesPage-app section h3{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

section .imgWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.rulesPage-app section p{
  text-align: center;
  font-size: 20px;
}

section .explanationExample {
  font-style: italic;
}
